.DrawerToggle {
  padding: 5px 0;
  margin: auto;
  width: 40px;
  display: inline-grid;
  grid-row-gap: 10px;
  cursor: pointer;
  border: none;
position: absolute;

  div {

    width: 90%;
    height: 3px;
    background-color: white;
  }
}

@media (min-width: 699px) {
  .DrawerToggle {
    display: none;
  }
}
