.DrawerToggle {
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &.change {
    transition-delay: 0.4s;
    transform: rotate(45deg);
  }
  div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 10px 0;
  }

  .bar1 {
    transition: all 0.1s ease-in-out;
    transition-delay: 0.2s;
    &.change {
      -webkit-transform: translate(0px, 15px);
      transform: translate(0, 15px);
    }
  }

  .bar2 {
    width: 100%;
    transition: all 0.1s ease-in-out;
    transition-delay: 0.1s;

    &.change {
      width: 0;
    }
  }

  .bar3 {
    -webkit-transform: rotate(0deg) translate(0px, 0px);
    transform: rotate(0deg) translate(0px, 0px);
    transition: all 0.1s ease-in-out;
    transition-delay: 0.2s;

    &.change {
      -webkit-transform: rotate(90deg) translate(-10px, -0px);
      transform: rotate(90deg) translate(-10px, 0px);
    }
  }
}

@media (min-width: 699px) {
  .DrawerToggle {
    display: none;
  }
}

@media (min-width: 499px) {
  .DrawerToggle {
    &:hover {
      transform: scale(1.2);
    }
  }
}
