@import "./variables/variables";
@import "./variables/mixins";

.gallery-page__container {
  padding: $padding-body-container;
  max-width: 1500px;
  margin: auto;

  h2 {
    @include headline-borders;
    margin-bottom: $margin-bottom;
  }

  .gallery-page__grid-container {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: repeat(auto-fit, 350px, 1fr);
    grid-gap: 1rem;
    grid-auto-flow: dense;

    .gallery-page__grid-item {
      height: 300px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:hover {
        cursor: pointer;
        transition: transform 0.25s ease-in-out;
        transform: scale(1.05);
      }
    }
  }

  .gallery-page__slider {
    img {
      width: 200px;
      height: auto;
    }

    button.slick-arrow.slick-next {
      right: 0;
    }

    button.slick-arrow.slick-prev {
      left: 0;
    }

    button.slick-arrow {
      position: absolute;
      background-color: red;
      z-index: 550;
      width: 4vw;
      height: 4vw;
    }

    .slick-arrow::before {
      font-size: 50px;
      content: none;
    }

    .slick-dots {
      bottom: 0;
      li {
        button::before {
          color: white;
        }
      }
    }
    .gallery-page__slide {
    }
  }
}
