@import "./variables/variables";
@import "./variables/mixins";

.reservation-page__container {
  padding: $padding-body-container;
  max-width: 1500px;
  margin: auto;

  h2 {
    @include headline-borders;
    margin-bottom: $margin-bottom;
  }

  .reservation-page__pricing-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: stretch;
    margin-bottom: 20px;

    .reservation-page__option-container {
      padding: 15px;
      display: flex;
      flex-direction: column;

      .reservation-page__features {
        display: grid;
        grid-template-rows: 50px 80px 1fr 60px;
        gap: 15px;
        padding: 20px;
        border: 2px solid $dark-brown;
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
        background-color: $dark-brown;

        h1 {
          grid-row: 1;
          margin: 0;
          font-weight: 500;
          color: white;
          border-bottom: 1px solid white;
        }

        p {
          align-self: center;
          grid-row: 2;
          padding: 0;
          margin: 0;
          color: white;
        }

        ul {
          box-shadow: inset 0 0 15px;
          grid-row: 3;
          margin: 0;
          padding: 20px;
          padding-left: 20%;
          border-top: 2px solid $dark-brown;
          border-bottom: 2px solid $dark-brown;
          background-color: white;
          border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

          .X {
            list-style-type: none;
            text-align: left;
            position: relative;
            margin: 2px;
            padding: 10px 20px;
            margin: 0;

            &::before {
              content: "\274C";
              position: absolute;
              border-color: red;
              top: 60%;
              left: -0.8em;
              margin-top: -1em;
            }
          }

          .check {
            list-style-type: none;
            text-align: left;
            position: relative;
            margin: 2px;
            padding: 10px 20px;
            margin: 0;

            &::before {
              content: "";
              position: absolute;
              border-color: #009933;
              border-style: solid;
              border-width: 0 0.3em 0.25em 0;
              height: 1em;
              top: 50%;
              left: -0.4em;
              margin-top: -1em;
              transform: rotate(45deg);
              width: 0.5em;
            }
          }
        }

        span {
          grid-row: 4;
          color: white;
          font-size: 2em;
          font-weight: 600;
          align-self: center;
          letter-spacing: 2px;
        }
      }
    }
  }
  .reservation-page__contacts {
    h2 {
      @include headline-borders;
      margin-bottom: $margin-bottom;
    }

    .reservation-page_container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
      justify-content: center;
      align-content: center;

      .reservation-page__contacts-item {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        padding: 10px;
        border: 2px solid $dark-brown;
        min-width: 250px;
        background-color: $dark-brown;
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

        &.viber {
        }

        a {
          display: flex;
          flex-direction: row;
          align-items: center;
          text-decoration: none;
          &:hover {
            transform: scale(1.05);
          }
        }

        img {
          width: 50px;
        }

        span {
          padding-left: 10px;
          color: white;
          font-size: 1.2em;
        }

        .reservation-page__copy-button {
          color: white;
          width: 25px;
          height: auto;
          cursor: pointer;
          position: absolute;
          top: 2px;
          right: 3px;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .reservation-page__container {
    .reservation-page__pricing-container {
      display: block;
      .reservation-page__option-container {
        padding: 0;
        padding-bottom: 15px;
      }
    }
    .reservation-page__contacts {
      .reservation-page_container {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .reservation-page__contacts-item {
          a {
            display: grid;
            grid-template-columns: 100px 1fr;
            min-width: 360px;
          }

          &.viber {
            display: grid;
          }

          img {
            grid-column: 1;
            justify-self: center;
          }

          span {
            padding: 0;
            grid-column: 2;
            justify-self: start;
          }

          .reservation-page__copy-button {
            top: 30%;
            right: 30px;
          }
        }
      }
    }
  }
}
