@import "./variables/variables";

.toolbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 500;
  background-color: $body-color;

  .toolbar__navigation {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;

    .toolbar__logo {
      a {
        &:before {
          content: "-";
        }
        &:after {
          content: "-";
        }
        text-decoration: none;
        font-size: 30px;
        font-weight: 200;
        color: whitesmoke;
        font-family: "Dancing Script", cursive;
      }
    }
  }
}

@media (max-width: 699px) {
  .toolbar__logo {
    margin: auto;
  }
}
