@import "./variables/variables";

.toolbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 500;
  background-color: $body-color;

  .toolbar__navigation {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;

    .toolbar__buttons-container {
      padding: 0;
      display: flex;
      flex-direction: row;
      align-items: center;

      .toolbar__buttons-lang {
        button {
          display: inline-block;
          color: white;
          padding: 10px;
          margin: 10px;
          text-decoration: none;
          right: 0;
          border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
          border-bottom: solid 2px white;
          border-left: solid 2px white;
          transition: all 0.2s ease-in-out;
          background-color: transparent;
          border-right: 1px solid white;
          border-top: 1px solid white;
          cursor: pointer;

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }

    .toolbar__logo {
      a {
        &:before,
        &:after {
          content: "-";
          padding: 0 5px;
        }

        text-decoration: none;
        font-size: 30px;
        font-weight: 200;
        color: whitesmoke;
        font-family: "Dancing Script", cursive;
      }
    }
  }
}

@media (max-width: 699px) {
  .toolbar {
    .toolbar__navigation {
      .toolbar__buttons-container {
        .toolbar__buttons-lang {
          button {
            margin: 0;
          }
        }
      }

      .toolbar__logo {
        margin: 10px auto;
        a {
          font-size: 25px;
        }
      }
    }
  }
}
