@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

@mixin headline-borders {
  border-bottom: 2px solid;
  border-right: 2px solid;
  margin: 10px auto;
  padding: 0 10px;
  font-size: 2.5em;
  font-weight: 200;
  font-family: "Architects Daughter", cursive;
}

@mixin sub-headline-borders {
  border-bottom: 2px solid;
}
