$body-color: #7c604d;
// $body-color: #b77b57;
$padding-bottom: 50px;
$margin-bottom: 20px;

$header-spacer: 30px;
$section-spacer: 4vh;

$dark-brown: #7c604d;
$light-gray: #9d887a;
$padding-body-container: 15px;
$margin-body-bottom-container: 20px;

//fonts

$headline-font-bg: "Caveat", cursive;
$headline-font-en: "Architects Daughter", cursive;
