$body-color: #7c604d;
// $body-color: #b77b57;
$padding-bottom: 50px;
$margin-bottom: 20px;

$header-spacer: 30px;
$section-spacer: 80px;

$dark-brown: #7c604d;
$padding-body-container: 15px;
$margin-body-bottom-container: 20px;
